.HA_VERSION
._.DS_Store
.cloud/
.storage/
deps/
secrets.yaml
.DS_Store
.ios.conf
.spotify-token-cache
.uuid
emulated_hue_ids.json
entity_registry.yaml
*.db
*.log
known_devices.yaml
old_automations.yaml
options.xml
OZW_Log.txt
plex.conf
*.sqlite
*.xml
tts/
tmp/
snapshots/
automations/
zones.yaml
